body {
  font-family: Garamond, serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #d450b1, #a32e8c);
  color: #333;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background: #a32e8c;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #d450b1;
  }
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}
